/* ----- Utility Classes ----- */
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate.animate--infinite{
    animation-iteration-count: infinite;
}
.animate.animate--delay-1s{
    animation-delay: 1s;
}
.animate.animate--fast{
    animation-duration: 0.3s;
}
.animate.animate--slow{
    animation-duration: 3s;
}

/* ----- Animations ----- */
@keyframes rotate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}
.rotate{
    animation-name: rotate;
    animation-timing-function: linear;
}

/* ----- Styles ----- */

body{
    height: 150vh;
}

/* navbar */
.navbar{
    background: transparent;
    height: 80px;
    font-size: 18px;
    padding: 0;
}
.navbar .navbar-brand{
    font-weight: 600;
    font-size: 24px;
}
.navbar ul{
    list-style: none;
}
.nav-link{
    color: #000;
    font-weight: 500;
}
.navbar .right-side ul{
    margin: 0;
}
.navbar .right-side ul li{
    margin: 0 20px;
}
.navbar .right-side .bi{
    color: #000;
}
.navbar .right-side li:hover{
    animation-name: rotate;
    animation-duration: .25s;
    animation-timing-function: linear;
}

/* Home Page  */
.banner{
    background-image: url("https://images.pexels.com/photos/167684/pexels-photo-167684.jpeg?auto=compress&cs=tinysrgb&w=1600");
    height: 100vh;
    background-size: cover;
}