/* ----- Utility Classes ----- */
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate.animate--infinite{
    animation-iteration-count: infinite;
}
.animate.animate--delay-1s{
    animation-delay: 1s;
}
.animate.animate--fast{
    animation-duration: 0.3s;
}
.animate.animate--slow{
    animation-duration: 3s;
}

/* ----- Animations ----- */
@keyframes rotate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}
.rotate{
    animation-name: rotate;
    animation-timing-function: linear;
}
.navbar .right-side li:hover{
    animation-name: rotate;
    animation-duration: .25s;
    animation-timing-function: linear;
}

/* ----- Styles ----- */

body{
    height: 150vh;
}

/* navbar */
.navbar{
    padding: 10px 0;
    background: transparent;
    font-size: 18px;
    padding: 0;
    padding: 10px 0;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 5px 25px;
}
.navbar ul{
    list-style: none;
}
.nav-link{
    font-weight: 500;
}
.navbar .right-side ul{
    margin: 0;
}
.navbar .right-side ul li{
    margin: 0 20px;
}

.navbar .navbar-brand{
    color: #000;
    font-weight: 600;
    font-size: 28px;
}
.nav-link, .navbar.scroll, .navbar .right-side .bi{
    color: #000;
}
.navbar .left-side .nav-link{
    border: 1px solid #000;
}
.navbar .left-side .nav-link.active{
    color: #146c43;
    border: 1px solid #146c43;
}
.navbar .left-side .nav-link:hover{
    color: #146c43;
    border: 2px solid #146c43;
}
/* navbar on scroll  */
.navbar.scroll .navbar-brand{
    color: #fff;
    font-weight: 600;
    font-size: 28px;
}
.navbar.scroll .left-side .nav-link{
    border: 1px solid #fff;
}
.navbar.scroll .left-side .nav-link.active{
    color: #ffc107;
    border: 1px solid #ffc107;
}
.navbar.scroll {
    background: #343a40;
    font-size: 18px;
    padding: 10px 0;
}
.navbar.scroll .left-side .nav-link:hover{
    border: 2px solid #ffc107;
    color: #ffc107;
}
.scroll .nav-link, .navbar.scroll  .right-side .bi{
    color: #fff;
}

/* Styles Classes */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Home Page  */
.banner{
    background-image: url("https://images.pexels.com/photos/167684/pexels-photo-167684.jpeg?auto=compress&cs=tinysrgb&w=1600");
    height: 100vh;
    background-size: cover;
    text-align: center;
}
.banner .banner-img img{
    width: 280px;
    height: 280px;
}   
.banner .banner-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner .banner-text{
    margin-top: 20px;
}